@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #202032;
    overflow-x: hidden;
}
.header{
    display: flex;
    position: relative;
    padding-left: 130px;
    padding-right: 130px;
    align-items: center;
    z-index: 10;
    .logo{
        margin-left: 90px;
    }
    .menu{
        width: auto;
        margin-right: 231px;
        justify-content: space-around;
        ul{
            display: flex;
            justify-content: space-between;
            li{
                list-style: none;
                margin-left: 40px;
                a{
                    font-family: 'Montserrat', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 24px;
                    color: #FFFFFF;
                    text-decoration: none;
                }
            }
        }
    }
}
.theme{

    .picture{
        display: flex;
        position: relative;
        top: -14px;
        left: 12px;
        z-index: 10;
        
        img{
            margin-right: 14px;
        }
    }


    input[type=checkbox]{
        appearance: none;
        display: block;
        position: relative;
        user-select: none;
        height: 1em;
        width: 2em;
        font-size: inherit;
      }
      input[type=checkbox]:before, input[type=checkbox]:after{
        content: '';
        display: block;
        transition: 0.25s;
        font-size: inherit;
      }
      input[type=checkbox]:before{
      
        position: relative;
        width: 70px;
        height: 30px;
        background: rgba(217, 217, 217, 0.3);
        border-radius: 28px;
        user-select: none;
        border-radius: 28px;
        z-index: 1;
      }
      input[type=checkbox]:after{
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        border-radius: 50%;
        background: #D9D9D9;
        user-select: none;
        z-index: 20;
      }
      input[type=checkbox]:not(:checked):after{
        left: 0;
      }
      input[type=checkbox]:checked:after{
        left: 40px;
      }

}
.partner{
    display: flex;
    justify-content: center;
    .head{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        color: #FFFFFF;
        margin-top: 150px;
        margin-bottom: 100px;
    }
    .kind{
        display: flex;

        .marketing{
            width: 575px;
            height: 500px;
            margin-right: 50px;
            h1{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 28px;
                line-height: 34px;
                color: #FFFFFF;
                margin-bottom: 50px;
            }
            p{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 29px;
                text-align: justify;
                
                color: #FFFFFF;
            }
        }
        .studio{
            width: 575px;
            height: 377px;
            h1{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 28px;
                line-height: 34px;
                color: #FFFFFF;
                margin-bottom: 50px;
            }
            p{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 29px;
                text-align: justify;
                
                color: #FFFFFF;
            }
        }
    }
    .coop{
        margin-top: 90px;
        h1{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 34px;
            color: #FFFFFF;
            
        }
        .menu{
            width: 575px;
            height: 145px;
            ul{
                li{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 29px;
                    text-align: justify;
                    color: #FFFFFF;
                }
            }
        }

    }
    .pay{
        margin-top: -24px;
        h1{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 34px;
            color: #FFFFFF;
            
        }
        p{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            text-align: justify;
            color: #FFFFFF;
            
        }
        .menu{
            width: 575px;
            height: 145px;
            ul{

                li{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 29px;
                    text-align: justify;
                    color: #FFFFFF;
                    
                }
            }
        }

    }
}
.form{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    .head{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;
        color: #FFFFFF;
        margin-bottom: 130px;
        
    }
    .textfield{
        display: flex;
        justify-content: center;
        .first{
            
            margin-right: 50px;
            p{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 29px;
                color: #FFFFFF;
            }
            input{
                width: 575px;
                height: 70px;
                border: 1px solid #FFFFFF;
                border-radius: 20px;
                background-color: #202032;
            }
        }
        .second{
            p{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 29px;
                color: #FFFFFF;
            }
            input{
                width: 575px;
                height: 70px;
                border: 1px solid #FFFFFF;
                border-radius: 20px;
                background-color: #202032;
            }
        }
    }
    .btn{
        width: 263px;
        height: 70px;
        background: #8D8D8D;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;

        p{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            color: #000000;
              
        }
    }
    .soc{
        margin-top: 75px;
        p{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 34px;
            margin-bottom: 75px;
            color: #FFFFFF;
            
        }
        .social{
            display: flex;
        }
        .tg{
            display: flex;
            justify-content: center;
            width: 320px;
            height: 70px;
            margin-right: 20px;
            background: #0093C1;
            border-radius: 20px;
            
            p{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 29px;
                text-align: center;
                color: #FFFFFF;
            }
        }
        .wa{
            display: flex;
            justify-content: center;
         
            width: 320px;
            height: 70px;
            background: #258403;
            border-radius: 20px;
            p{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 29px;
                text-align: center;
                color: #FFFFFF;
            }
        }
    }
}
.footer{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    .components{
        display: flex;
        margin-left: -100px;
        
    }
    .contact{
        width: 286px;
        margin-right: 150px;
        .logo{
            img{
                width: 326px;
            }
        }
        p{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 34px;
            color: #FFFFFF;
            margin-bottom: 50px;
            margin-left: 60px;
            top: 20px;
        }
        .cont{
            margin-left: 20px;
            ul{

                li{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 29px; 
                    color: #FFFFFF;
                    list-style: none;
                    margin-bottom: 20px;
                }
            }
        }
    }
    .solutions{
        margin-top: 50px;
        margin-right: 125px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .head{               
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            color: #FFFFFF;
            margin-left: 40px;
        }
        ul{
            
            li{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 39px;
                color: #FFFFFF;
                list-style: none;
                margin-bottom: 20px;
            }
        }
    }
    .lang{
        margin-top: 50px;
        margin-right: 200px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .head{               
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            color: #FFFFFF;
            margin-left: 40px;
        }
        ul{
            
            li{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 39px;
                color: #FFFFFF;
                list-style: none;
                margin-bottom: 20px;
            }
        }
    }
    .stack{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .head{               
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            color: #FFFFFF;
            margin-left: 40px;
        }
        ul{
            
            li{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 39px;
                color: #FFFFFF;
                list-style: none;
                margin-bottom: 20px;
            }
        }
    }
}