@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: #202032;
    overflow-x: hidden;
}
.header{
    display: flex;
    position: relative;
    padding-left: 130px;
    padding-right: 130px;
    align-items: center;
    z-index: 10;
    .logo{
        margin-left: 90px;
    }
    .menu{
        width: auto;
        margin-right: 231px;
        justify-content: space-around;
        ul{
            display: flex;
            justify-content: space-between;
            li{
                list-style: none;
                margin-left: 40px;
                a{
                    font-family: 'Montserrat', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 24px;
                    color: #FFFFFF;
                    text-decoration: none;
                }
            }
        }
    }
}
.theme{

    .picture{
        display: flex;
        position: relative;
        top: -14px;
        left: 12px;
        z-index: 10;
        
        img{
            margin-right: 14px;
        }
    }


    input[type=checkbox]{
        appearance: none;
        display: block;
        position: relative;
        user-select: none;
        height: 1em;
        width: 2em;
        font-size: inherit;
      }
      input[type=checkbox]:before, input[type=checkbox]:after{
        content: '';
        display: block;
        transition: 0.25s;
        font-size: inherit;
      }
      input[type=checkbox]:before{
      
        position: relative;
        width: 70px;
        height: 30px;
        background: rgba(217, 217, 217, 0.3);
        border-radius: 28px;
        user-select: none;
        border-radius: 28px;
        z-index: 1;
      }
      input[type=checkbox]:after{
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        border-radius: 50%;
        background: #D9D9D9;
        user-select: none;
        z-index: 20;
      }
      input[type=checkbox]:not(:checked):after{
        left: 0;
      }
      input[type=checkbox]:checked:after{
        left: 40px;
      }
      input[type=checkbox]:checked:before{
          
      }

}
.case{
    height: 2000px;
    display: flex;
    justify-content: center;
    margin-top: 187px;
    .main{
        width: 1200px;
        height: 745px;
        .head{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 59px;
            color: #FFFFFF;
            margin-bottom: 120px;
        }
        .container{
            .picture{
                margin-top: 120px;
                img{

                }
            }
            .desc{
                margin-top: 120px;
                p{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 29px;
                    text-align: justify;
                    color: #FFFFFF;
                }
            }
            .tag{
                margin-top: 60px;
                ul{

                    li{
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 32px;
                        line-height: 39px;
                        text-align: justify;
                        color: #D20C83;
                        list-style: none;
                        margin-bottom: 10px;
                        margin-left: -45px;
                    }
                }
            }

        }
    }
}
.portfolio{
    a{
        text-decoration: none;
    }

    .head{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 59px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 200px;
        margin-bottom: 130px;
    }
    .case-items{
        display: grid;
        grid-template-columns: 417px 417px 417px;
        justify-content: center;
        align-items: center;
        .example{
            
            background: rgba(255, 255, 255, 0.05);
            box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.25);
            border-radius: 50px;
            width: 367px;
            height: 497px;
            margin-bottom: 50px;
            text-align: center;

            .pic-cont{
                margin-top: 40px;
            }
            .desc{
                width: 315px;
                margin-left: 26px;
                margin-top: 33px;
                h1{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 24px;
                    color: #FFFFFF;
                    margin-bottom: 19px;
                }
                p{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                    text-align: justify;
                    color: #FFFFFF;
                }
            }
        }
    }
}
.footer{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    .components{
        display: flex;
        margin-left: -100px;
        
    }
    .contact{
        width: 286px;
        margin-right: 150px;
        .logo{
            img{
                width: 326px;
            }
        }
        p{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 34px;
            color: #FFFFFF;
            margin-bottom: 50px;
            margin-left: 60px;
            top: 20px;
        }
        .cont{
            margin-left: 20px;
            ul{

                li{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 29px; 
                    color: #FFFFFF;
                    list-style: none;
                    margin-bottom: 20px;
                }
            }
        }
    }
    .solutions{
        margin-top: 50px;
        margin-right: 125px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .head{               
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            color: #FFFFFF;
            margin-left: 40px;
        }
        ul{
            
            li{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 39px;
                color: #FFFFFF;
                list-style: none;
                margin-bottom: 20px;
            }
        }
    }
    .lang{
        margin-top: 50px;
        margin-right: 200px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .head{               
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            color: #FFFFFF;
            margin-left: 40px;
        }
        ul{
            
            li{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 39px;
                color: #FFFFFF;
                list-style: none;
                margin-bottom: 20px;
            }
        }
    }
    .stack{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .head{               
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            color: #FFFFFF;
            margin-left: 40px;
        }
        ul{
            
            li{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 39px;
                color: #FFFFFF;
                list-style: none;
                margin-bottom: 20px;
            }
        }
    }
}